body {
	margin-top: 70px;
	/*background:#333;*/
	color: #fff;
	font-family:  serif; 
	background-image: url(https://i.stack.imgur.com/p9mUO.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.container {
	width: 60%; 
}

.h1 {
	font-family: 'Indie Flower', cursive;
} 

button:visited{
	border: 2px solid blue;
}

.card {
	background-image: url(http://1.bp.blogspot.com/-ZRUtDf9_4O8/UwTSDHQYz-I/AAAAAAAAAI4/rmBmo79LINs/s1600/bg-screenshot.jpg);
	background-repeat: no-repeat;
}